.wallet__root {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.wallet__container {
  display: grid;
  grid-template-rows: 150px 1fr 150px;
  height: 100%;
}

.wallet__address {
  word-break: break-all;
  width: 225px;
  font-size: 18px;
}

.wallet__egg-container {
  display: flex;
}

.wallet__egg-container div {
  flex: 1 0 auto;
}
